@page
@model RazorHotelDB.Pages.Hotels.DeleteHotelModel
@{
    ViewData["Title"] = "Delete Hotel";
}
<h1>Delete Hotel</h1>
<form method="post">
    <div class="form-group">
        <label>Hotel nummer</label> : @Model.DeleteHotel.HotelNr <br />
        <label>Hotel navn</label> : @Model.DeleteHotel.Navn <br />
        <label>Hotel adresse</label> : @Model.DeleteHotel.Adresse <br />
        <input type="submit" asp-page-handler="Delete" asp-route-id="@Model.DeleteHotel.HotelNr" class="btn btn-danger" value="Delete Hotel" />

        <input type="submit" value="Cancel" class="btn btn-warning" asp-page-handler="Cancel" />
    </div>
</form>